<h1>
  <div class = "jumborton">
  Quotes!
</div>
</h1>
<div class = "container">
  <div class="row">
    <app-quote-form></app-quote-form>
  </div>

  <div *ngFor='let quote of quotes ;let i = index'>
    <div class = "col-md-2">
      <div class="row">
    <p> <em>{{quote.name}} </em></p>
    <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
    <app-quotes-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quotes-details>
  </div>  
</div>
</div>
