<p>
 {{quote.author}}  
 
</p>
<p>
    {{quote.publisher}}
</p>
<p>
    {{quote.completeDate|date}}
</p>
    <!-- {{quote.text}} -->
<div class="container">
    
<p>This quote will be completed in {{quote.completeDate|dateCount}} days</p>
<div class="row">
    <div class="col-md-4">
            <button class ="btn btn-danger" (click)='quoteDelete(true)'>Delete Quote</button>
            
    </div>
    <div class="col-md-4">
            <button class="btn btn-success" (click)='thumbsUp(true)'>Upvote</button><span>{{quote.upVote}}</span> 
        </div>   
    <div class="col-md-4">
            <button class="btn btn-warning" (click)='thumbsDown(true)'>DownVote</button><span>{{quote.downVote}}</span>
        </div>
    
</div>
</div>

